.top-movie h1 {
  color: white;
}

.title-topMovie {
  border-bottom: 1px solid var(--second-color);
  padding: 0 0 1rem 2rem;
  margin: 1rem 0;
}

.topMovieCard {
  display: flex;
  flex-wrap: wrap;
  padding: 0.3rem;
}

.card-loading {
  width: 120px;
  height: 170px;
  background-color: var(--third-color);
  border-radius: 5px;
  margin: 0.5rem;
}
