.card {
  width: 130px;
  /* padding: 1rem; */
  margin: 0.5rem;
  border: 1px solid var(--second-color);
  border-radius: 5px;
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.description {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.description h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description h3,
p {
  color: var(--second-color);
}

.genre-main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.genre-main p {
  margin-right: 0.5rem;
  font-size: 0.7em;
}

.genre-cards,
.judul-film {
  color: var(--second-color);
  text-decoration: none;
}
