.details {
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  padding: 1rem;
  border-top: 1px solid var(--second-color);
}
.details-poster {
  margin-right: 1rem;
}

.movie-details h1 {
  color: var(--second-color);
}

.judul-genre,
.sinopsis,
.popularity {
  margin-top: 0.5rem;
}
.genre-details {
  display: flex;
  margin-top: 0.5rem;
}
.genre-details p {
  margin-right: 0.3rem;
  padding: 0.3rem;
  background-color: var(--second-color);
  color: var(--main-color);
  border-radius: 2px;
  font-weight: 400;
}

.detail-loading-page {
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  padding: 0.5rem;
  border-top: 1px solid var(--second-color);
}

.release-date {
  margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .details {
    flex-direction: column;
    height: auto;
  }
  .details-poster img {
    width: 250px;
  }
  .movie-details {
    margin-top: 1rem;
  }
  .sinopsis {
    margin-top: 0.5rem;
  }
  .genre-details {
    flex-wrap: wrap;
  }
  .genre-details p {
    margin-top: 0.5rem;
  }
}
