.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar .input-search {
  width: 270px;
  height: 30px;
  border-radius: 5px;
  padding-left: 35px;
  padding-right: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.search-bar input:focus {
  outline: none;
}

.search-bar .button-search {
  position: absolute;
  width: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
