.search-movie {
  background-color: var(--main-color);
  height: 100vh;
}

.search-result {
  border-top: 1px solid white;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .search-movie {
    height: auto;
  }
}
