:root {
  --main-color: #02383c;
  --second-color: white;
  --third-color: #014d53;
  --fourth-color: #0a3f43;
  --fifth-color: #cccccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}
