.main-content {
  padding-top: 5rem;
  padding-bottom: 2rem;
  width: 90%;
}

.main-content h1 {
  color: white;
  margin-bottom: 1rem;
}

.main-cards {
  border-top: 1px solid white;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

